.bio__title {
  display: flex;
  font-size: 1.8rem;
  white-space: pre-wrap;
}

.bio__title__name {
  font-weight: bold;
}

.bio__picture {
  max-width: 28rem;
  border-radius: 5rem;
  box-shadow: 0 0 1.2rem var(--primary-color);
}
